/*Using less files
Downloading
-If you are make sure about node.js has installed.
  in terminal write : npm install -g less
-else
  to install node.js : https://nodejs.org/en/download/package-manager/
-end if
Compiling
-If you are in the folder of .less file
  in terminal, just write : lessc newbase.less newbase.css
*/
body {
  margin-left: 200px;
  width: 1000px!important;
}
.header {
  margin: 0;
  position: absolute;
  top: 3%;
  width: 70%;
}
.logoimg {
  float: left;
  height: 100%;
  width: auto;
  display: inline-block;
  height: 47px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.navbar {
  background-color: #77a8a8 !important;
  border: none;
}
.nav {
  height: 47px;
  text-decoration: none;
  align-items: center;
  float: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #77a8a8 !important;
}
nav li a {
  color: white;
  font-size: 20px;
  font-family: 'Mystery Quest', cursive;
  background-color: #77a8a8 !important;
}
nav li a:hover,
.dropdown:hover {
  background-color: #77a8a8;
}
.dropdown,
.dropdown-content {
  background-color: #77a8a8 !important;
}
.dropdown li a {
  color: white !important;
}
/*nav li.dropdown {
  display: inline-block;
}*/
nav li a:hover:not(.active) {
  background-color: #77a8a8;
  color: white;
}
nav a:hover {
  background-color: #6d9e9e !important;
}
/*.active {
  background-color: #639c9c;
}*/
p,
.blockcontent {
  width: 950px;
}
