<!DOCTYPE html>
<html>
{% load static %}
{% load i18n %}

<!-- For styling  -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'layout/styles/newbase.css'%}" type="text/css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} Default Title {% endblock %}</title>
    {% block headblock %}{% endblock %}
    <script>{% block script %}{% endblock %}</script>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Mystery+Quest');
    {% block style %}{% endblock %}</style>
  </head>
  <body>
    <div class="logoimg"><img src="{% static "images/logo.png" %}"><br>
      <nav class="navbar">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active">
                  <a href="{% url 'home' %}">{% trans 'Home' %}</a>
                </li>
                <li>
                  <a href="{% url 'about' %}">{% trans 'About' %}</a>
                </li>
                {% if user.is_authenticated %}
                  <li><a href="{% url 'create' %}">{% trans 'Create' %}</a></li>
                {% else %}
                  <li><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
                  <li><a href="{% url 'signup' %}">{% trans 'Signup' %}</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="dropdown dropdown-content">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                      Hello {{ user.username }}!
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'profile' %}">{% trans 'Profile' %}</a></li>
                        <li><a href="{% url 'logout'%}">{% trans 'Logout' %}</a></li>
                    </ul>
                </li>
                {% endif %}

            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a navbar-brand href="https://github.com/lyk2018-python/fabl-writer">
                <img src="{% static "images/github_navbar.png" %}" width="18" height="18" alt="">
              </a></li>
            </ul>
        </div>
      </nav>

    <div class="blockcontent">
    {% block content %}
      #Contents goes in
    {% endblock %}
    </div>

  </body>
</html>
